@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');
/*@import url('./bootstrap/css/bootstrap.css');*/


.site-hidden {
  display:none;
}
.vote_hidden {
  background-color: #330;
  color:#330;
}
.user_name {
 font-weight: bold;
  font-size: 16px;
 }
.header_holder {
  margin-bottom: 10px;
  border-bottom: 3px solid #063666;
}
.header {
  background-color: #225b66;
  padding: 30px 10px;

}
.header_title {
  text-align:center;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
}

.btn-align-right {
  align:right;
  margin-right:10px;
}

.vote-button-row {
 padding-top:10px;
}
.vote_button {
 width : 80px;
 margin-right:7px;
 margin-bottom:5px;
}

#playerArea {
  padding-top:10px;
  width:220px;
  margin-left :0px;
}

.player_area_header {
  background-color: #dddddd;
}

#messages  {
 height:300px;
 border: 1px solid #00b3ee;
}
#messages  ul{
    padding-left:10px;
}

#messages li {
    text-decoration: none;
    color: #000;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: block;
    //width: 200px;
    font-size: 14px;
}

#messages li:hover {
    font-size: 16px;
    background: #00b3ee;
    color: #ffffff;
}

#new-message {
    display: block;
    width: 100%;
    margin: 5px 0px;
}




.ppContainer {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
}